
// FONTS

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;700&family=Urbanist:wght@100;200;300;400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap')

@font-face
    font-family: 'Iosevka'
    src: local('public/iosevka-extended.ttf') format('truetype')
   

$font-urbanist: 'Urbanist', sans-serif
$font-exo: 'Exo', sans-serif
$font-iosevka: 'Iosevka', monospace
$font-code: 'Roboto Mono', monospace

// SIZES

$code-area-header-height: 40px
$code-area-header-gap-height: 10px
$code-area-line-height: 24px
$code-area-line-number-section-width: 60px
$code-font-size: 1rem
$code-area-cursor-height: 1.5rem
$code-area-cursor-width: 1px

// COLORS

$header-color: #292929
$code-area-sidebar-color: #202020
$code-area-line-number-section-color: #202020
$code-area-sidebar-color: #202020 // get rid of this
$code-area-line-number-color: #727272
$code-area-cursor-color: #F1F1F1
$bg-color: #1A1A1A
$blur-color: rgba(0, 0, 0, 0.25)
$icons-color: #B9B9B9
$text-color: #b3b3b3
$fields-text-color: #E3E3E3
$header-button-color-hover: rgba(50, 50, 50, 1)
$header-button-color: rgba(50, 50, 50, 0.6)
$windows-color: $header-color
$invisible: rgba(0, 0, 0, 0)
$fields-color: rgba(79, 79, 79, 1)
$fields-placeholder-color: #AFAFAF
$fields-border-color: rgb(100, 100, 100)
$error-text-clr: rgb(255, 50, 50)
   
// ANIMATIONS 

@keyframes slideDown
    0%
        top: 0px
        opacity: 0
    100%
        top: calc(100vh / 2 - 240px)
        opacity: 1

@keyframes fadeIn
    0%
        opacity: 0        
    100%
        opacity: 1
        
// MIXINS

@mixin window-gradient()
    background-color: $header-color
    background: linear-gradient(120deg, $header-color, $code-area-sidebar-color)

.form-field
    font-size: 18px
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5)
    outline: none
    box-sizing: border-box
    border-radius: 0.5rem
    background-color: $fields-color
    color: $fields-text-color
    border: none
    margin: 0 !important
    padding-inline: 16px
    height: 50px
    width: 300px

.form-error
    text-align: start
    margin: 5px 0px 7px
    padding-inline: 20px
    color: $error-text-clr

.form-field:focus
    border: 1px solid $fields-border-color

.form-field::placeholder
    color: $fields-placeholder-color
    
.form-field:-webkit-autofill .form-field:-webkit-autofill:hover .form-field:-webkit-autofill:focus .form-field:-webkit-autofill:active
    -webkit-background-color: $fields-color !important

