@import "../../global"

.code-area-wrapper
    font-weight: 500
    position: relative
    background-color: $bg-color
    display: flex
    flex-direction: column
    height: calc(100vh - 40px)

.top-gap
    height: 10px
    display: inline-block
    position: relative

.filler
    flex-grow: 1
    display: inline-block
    position: relative

.filler-line-numbers
    background-color: $sidebars-color
    width: 60px
    height: 100%
    position: absolute

.line
    display: flex
    white-space: pre
    font-family: $font-code
    font-weight: 500
    height: 24px

.line-number-wrapper
    padding-inline: 10px
    width: 40px
    background-color: $sidebars-color

.line-number
    color: #727272
    float: right

.line-code-wrapper
    display: flex
    padding-inline-end: 5px
    padding-inline-start: 10px

.line-code
    color: $text-color
    font-size: 1rem

@keyframes cursor-blink
    from, to
        background-color: #F1F1F1
    50%
        background-color: #1A1A1A

.cursor
    display: inline-block
    position: absolute
    animation: cursor-blink .75s infinite
    background-color: #F1F1F1
    height: 1.5rem
    width: 1px
