
.code-area-wrapper
    background-color: #1A1A1A
    line-height: 0.35
    padding: 10px 0px
    display: flex


.line-numbering *
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace
    padding-right: 1rem

.line-number
    color: #727272


.code-area *
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace

.code-line
    color: #efefef