@import "../../global"
 
.code-area-header-wrapper
    display: flex
    box-sizing: border-box
    height: $code-area-header-height
    max-height: $code-area-header-height
    min-height: $code-area-header-height
    padding: 10px
    background-color: $code-area-header-color

.code-area-logo-button
    padding: 0
    border: 0
    cursor: pointer
    background-color: $code-area-header-color

.code-area-logo-text
    margin: 0
    font-size: 24px
    font-weight: 600
    text-transform: uppercase
    font-family: $font-exo
    color: $text-color
    background-color: $invisible !important

