@import "../../global"

$header-height: 50px
$header-button-height: 30px
$header-button-font-size: 18px

// Wrappers

.page
    margin: 0
    padding: 0
    border: 0

.header-wrapper
    position: relative
    display: flex
    height: $header-height
    padding: 16px 20px
    justify-content: space-between

// Logo

.logo-button
    text-decoration: none
    background-color: $invisible !important

.logo-text
    margin: 0
    font-weight: 600
    text-transform: uppercase
    font-size: 32px
    line-height: 32px
    font-family: $font-exo
    background-color: $invisible !important
    color: $text-color

// Buttons

.header-button
    height: $header-button-height
    padding: 5px 12px 7px
    margin-left: 12px
    border: 0
    border-radius: 999rem
    background-color: $header-button-color
    transition-duration: .25s
    cursor: pointer
    
.header-button:hover
    box-shadow: $button-box-shadow
    background-color: $header-button-color-hover

.header-button-text
    margin: 0
    font-weight: 500
    font-size: $header-button-font-size
    text-transform: uppercase
    font-family: $font-urbanist
    color: $text-color

