@import "../../global"

$sample-card-width: 740px
$sample-card-height: 60px
$sample-card-title-width: 400px
$sample-card-padding-block: 10px
$sample-card-padding-inline: 10px
$sample-card-language-height: calc($sample-card-height - 2 * $sample-card-padding-block)
$sample-card-language-padding: 3px
$sample-card-bg-color: #46464680
$sample-card-bg-color-hover: #464646C0
$sample-card-box-shadow-hover: 0px 0px 10px 0px #464646D0
$sample-card-font-size: 1rem
$sample-card-divider-color: #FFFFFF69


.sample-card-wrapper
    display: flex
    justify-content: space-between
    box-sizing: border-box
    align-items: center
    width: $sample-card-width
    height: $sample-card-height
    padding: 10px 20px
    margin-block: 5px
    border-radius: $button-border-radius
    cursor: pointer
    background-color: $sample-card-bg-color
    transition-duration: .25s

.sample-card-wrapper:hover
    background-color: $sample-card-bg-color-hover
    box-shadow: $sample-card-box-shadow-hover

.sample-card-title
    width: $sample-card-title-width
    color: $text-color
    font-size: $sample-card-font-size

.sample-card-language-wrapper
    display: flex
    width: 70px

.sample-card-language
    margin-inline: auto
    padding: $sample-card-language-padding
    height: calc($sample-card-language-height - 2 * $sample-card-language-padding)
    font-size: $sample-card-font-size

.divider
    border: 1px solid $sample-card-divider-color

